---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="KoblScribls!">
  <h2>Welcome</h2>
  <p>This is my personal archive for stories, chapters, and worldbuilding.</p>
  <p><a href="/works">Browse my Scribls!</a></p>
</BaseLayout>